html,
body,:global(#root) {
  height: 100%;
  width: 100%;
  overflow: hidden;
  background: navy;
   .login_form {
    width:400px;
    height:250px;
    position:fixed;
    border-radius:5px;
    right:200px;
    bottom:250px;
    background:#fff;
    padding:10px 10px;
  }
   .login_form_forgot {
    float: right;
  }
   .login_form_button {
    width: 100%;
  }
}
