.paperMain{
    width: 100%;
    height: 100%;
    padding: 0px 24px 24px;
    h2{
        width: 100%;
        height: 50px;
        line-height: 50px;
        font-size: 16px;
        // margin-top: 10px;
    }
    .paperCont{
        width: 100%;
        height: 100%;
        .paperTop{
            background: rgb(255, 255, 255);
            padding: 24px;
            margin: 0px 0px 20px;
            border-radius: 10px;
            .paperTypes{
                width: 100%;
                margin-top: 20px;
                display: flex;
                div{
                    margin-right: 10px;
                }
                .searchBtn{
                    background: linear-gradient(-90deg,#4e75ff,#0139fd)!important;
                    width: 150px;
                    font-size: 14px; 
                    margin-left: 10px;
                }
            }
        }
        .paperBottom{
            background: rgb(255, 255, 255);
            padding: 24px;
            margin: 0px 0px 20px;
            border-radius: 10px;
            .botTit{
                display: flex;
                justify-content: space-between;
                width: 100%;
                align-items: center;
                .botTab{
                    font-size: 14px;
                    line-height: 1.5;
                    box-sizing: border-box;
                    span{
                        height: 32px;
                        line-height: 30px;
                        color: #1890ff;
                        display: inline-block;
                        cursor: pointer;
                        border: 1px solid #f8f8f8;
                        border-left: 0;
                        background: #fff;
                        padding: 0 15px; 
                    }
                }
            }
            .paperTab{
                margin-top: 20px;
            }
        }
    }
}
.paperCont .paperBottom .botTit .botTab span.active{
    border-color:#0139FD;
    border-left: 1px solid #0139FD;
}