.wrapper{
    width: 100%;
    height: 100%;
    padding:25px;
    box-sizing: border-box;
}
.title{
    font-size: 22px;
    line-height: 40px;
}
.con{
    width:100%;
    overflow-y: scroll;
    background:#fff;
}


