.main{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding:0 10px;
    .title{
        width: 100%;
        height: 30px;
        line-height: 30px;
        font-size: 16px;
        margin-left: 20px;
    }
    .contbox{
        width: 100%;
        height: 100%;
        flex:1;
        display: flex;
        flex-direction: column;
        background: #fff !important;
        border-radius: 5px;
        overflow-y: auto;
        margin:0 10px;
        .top{
            width: 100%;
            height: 40px;
            padding: 10px;
        }
        .btn{
            width:100px;
            height: 30px;
            line-height: 30px;
            border: 1px solid #ccc;
            text-align: center;
            font-size: 13px;
        }
    }
    .cont_Item{
        width: 100%;
        height: 80px;
        line-height: 40px;
        // margin-top: 10px;
        text-align: center;
        .examTime{
            width: 100%;
            height:40px;
        }
    }
    .itemsArr{
        width: 100%;
        padding: 5px 0;
        .arr_item{
            width: 100%;
            padding: 10px;
            margin-top: 10px;
            border: 1px solid #ccc;
            p{
                display: flex;
                justify-content: space-between;
                align-items: center;
                font-size: 13px;
            }
            p span:nth-child(2){
                color: #1890ff;
                margin-right: 10px;
            }
        }
    }
    .color{
        background: #efefef;
        padding:5px 0;
    }
    .Btnbig{
        width: 100%;
        height: 35px;
        margin:5px 0 20px 0;
        text-align: center;
        .btns{
            width: 120px;
            height: 30px;
        }
    }
  
}

//`````````侧边栏
.slideBox{
    width: 500px;
    height: 100%;
    display: flex;
    flex-direction: column;
    font-size: 12px;
    .li{
        width: 94px;
        display: inline-block;
        list-style: none;
        font-size: 12px;
    }
    .titleSlid{
        width: 100%;
        height: 50px;
        line-height: 50px;
        font-size: 16px;
        margin-left: 10px;
        color: #000;
        display: flex;
        flex-wrap: wrap;
    }
    .top_Span{
        width:50px;
        height: 30px;
        padding: 5px;
    }
    .boxs{
        width: 100%;
        height: 100%;
        // background: #ccc;
        display: flex;
        flex-direction: column;
        font-size: 15px;
    }
    .topSlide{
        width: 100%;
        height: auto;
        background: #fff;
        border-radius: 5px;
        margin-top: 10px;
    }
    .active li:hover{
        color: #0139FD;
    }
    .inquire{
        width: 100%;
        // height: ;
        margin-left: 20px;
        margin-top: 58px !important;
    }
    .top_Top{
        width: 100%;
        height:70px;
        border-bottom: 1px solid #ccc;
        .active{
            width: 100%;
            height: 100%;
        }
    }
    .top_Bom{
        display: flex;
        line-height: 40px;
        // flex-direction: column;
        height: 90px;
        margin-top: 10px;
        font-size: 12px;
    }
    .Bom_item{
        display: inline-block;
        display: flex;
        flex-direction: column;
    }
    .box .top_Bom .Bom_item .select{
        margin: 0;
    }
    .Bom_item p{
        height: 30px;
        margin-left: 25px;
    }
    .center{
        width: 100%;
        flex:1;
        background: #fff;
        border-radius: 5px;
        margin-top: 20px;
        overflow-y: auto;
        padding: 7px;
        font-size: 14px;
    }
    .center_Item{
        width: 100%;
        height: 90px;
        border-bottom: 1px solid #ccc;
        display: flex;
        // flex-direction: column;
    }
    .Item_Box{
        width: 100%;
        display: flex;
        justify-content: space-between;
        height: 28px;
        line-height: 28px;
        margin-top: 5px;
    }
    .small_Item span{
        padding:0  2px;
        border: 1px solid #ccc;
        text-align: center;
        font-size: 11px;
        margin: 0 5px;
        border-radius: 2px;
    }
    .small_Item span:nth-child(1){
        color: #1890ff;
        background: #e6f7ff;
        border-color: #91d5ff
    }
    .small_Item span:nth-child(2){
        color: #2f54eb;
        background: #f0f5ff;
        border-color: #adc6ff;
    }
    .small_Item span:nth-child(3){
        color: #fa8c16;
        background: #fff7e6;
        border-color: #ffd591;
    }
    .left{
        flex:1;
    }
    .Title{
        margin-top: 5px;
    }
    .compile{
        color: #0139FD;
        width: 100px;
        text-align: center;
        margin-top: 31px;
        span{
            margin-left: 5px;
        }
    }
    .Item_Name{
        margin-top: 4px;
        color: #0139FD;
    }
    
}
